@use "../../styles/variables.scss";

.cart__item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid variables.$brown;
  padding: 0 40px;
  margin: 10px 0;
}
.item__image {
  width: 150px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
}
.item__name {
  font-size: 21px;
  font-weight: 700;
}
.item__amount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item__price {
  text-align: right;
}
.item__decrement,
.item__increment {
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
}
