@use "../../styles/variables.scss";

.app__cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  .MuiButton-root {
    margin: 20px;
    box-sizing: border-box;
    border: 1px solid variables.$brown;
    transition: 500ms;
    &.MuiButton-contained {
      background-color: variables.$brown;
      &:hover {
        background-color: #fff;
        color: variables.$brown;
      }
    }
    &.MuiButton-outlined {
      color: variables.$sand;
      border-color: variables.$sand;
      color: black;
      &:hover {
        background-color: variables.$sand;
        color: #fff;
      }
    }
  }
}
.cart__title {
  margin: 0;
  padding: 15px;
}
.cart__list {
  list-style: none;
  margin: 0;
  padding: 0 40px;
}
.modal__warning {
  padding: 50px;
  font-size: 30px;
  font-weight: 700;
  background-color: #fff;
  .modal-warning__link {
    font-size: 30px;
    font-weight: 700;
    color: variables.$brown;
    cursor: pointer;
  }
}
