@use "../../styles/variables.scss";

.mainPage__instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instagram__label {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 0;
}
.instagram__text {
  color: black;
  padding: 35px 40px 30px;
  text-align: center;
}
.slider-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 60px;
}
.slider-list {
  gap: 10px;
}
.slide-visible {
  width: 6%;
}
